:host {
  width: 100%;
}

nav {
  --nav-background-color: black;
  --nav-text-color: white;
  --nav-text-color-hover: #43adcb;
  --nav-text-color-active: #40bd11;



  display: flex;
  justify-content: space-around;
  background-color: var(--nav-background-color);
  color: var(--nav-text-color);
  padding: 1rem;
}

nav a {
  color: var(--nav-text-color);
  text-decoration: none;
  font-size: 1.5rem;
  transition: all ease-in-out 0.3s;
}

nav a:hover {
  color: var(--nav-text-color-hover);
  text-decoration: underline;
}

nav .link-active {
  color: var(--nav-text-color-active);
  text-decoration: underline;
}
