<h1>Dragonball Information</h1>
<hr>

<section class="row">
  <div class="col-12 col-sm-6 mb-3">
    <h3>Agregar</h3>
    <input type="text" class="form-control" placeholder="Nombre">
    <input type="number" class="form-control mt-2" placeholder="poder">
    <button class="btn btn-primary mt-2">Agregar</button>
  </div>


  <div class="col-12 col-sm-6">
    <h3>Listado</h3>
    <ol class="list-group">
      <li class="list-group-item">Goku - 10000</li>
      <li class="list-group-item">Vegeta - 9000</li>
    </ol>
  </div>


</section>
