<h1>Dragonball Information</h1>
<hr>

<section class="row">
  <div class="col-12 col-sm-6 mb-3">
    <h3>Agregar</h3>
    <input type="text" class="form-control" placeholder="Nombre">
    <input type="number" class="form-control mt-2" placeholder="poder">
    <button class="btn btn-primary mt-2">Agregar</button>
  </div>


  <div class="col-12 col-sm-6">
    <h3>Listado</h3>
    <ol class="list-group">
      @for (character of characters();
        track character.id;
        let idx = $index;
        let odd = $odd;
        let even = $even;
        ) {
        @if (hasEnoughPower(character.power)) {
          <li class="list-group-item" [class.list-group-item-primary]="even" [class.list-group-item-secondary]="odd">
            <span [class.text-success]="isGoku(character.name)">{{ idx + 1 }}.- {{ character.name }}</span>
            <strong [ngClass]="getPowerClass(character.power)"> ({{ character.power }})</strong>
          </li>
        }
      }

    </ol>
  </div>


</section>
