<h3>{{ title() }}</h3>
<ol class="list-group">
  @for (character of characters();
    track character.id;
    let idx = $index;
    let odd = $odd;
    let even = $even;
    ) {
    @if (hasEnoughPower(character.power)) {
      <li class="list-group-item" [class.list-group-item-primary]="even" [class.list-group-item-secondary]="odd">
        <input type="hidden" [value]="character.id">
        <span [class.text-success]="isGoku(character.name)">{{ idx + 1 }}.- {{ character.name }}</span>
        <strong [ngClass]="getPowerClass(character.power)"> ({{ character.power }})</strong>
      </li>
    }
  }

</ol>
